In [ ]:
# Q1. Import the pandas library

In [ ]:
# Q2. Read the dataset and assign it to 'chipo'

In [ ]:
# Q3. Display the first 10 rows

In [ ]:
# Q4. How many rows and columns are there?

In [ ]:
# Q5. Print all column names

In [ ]:
# Q6. Display how the dataset is indexed using .index

In [ ]:
# Q7.Check the data types of each column using .dtypes.

In [ ]:
# Q7.Check the data types of each column using .dtypes.

In [ ]:
# Q8. Find the most ordered item based on the `item_name` column.

In [ ]:
# Q9. For the most ordered item, calculate the total quantity ordered.

In [ ]:
# Q10. Identify the most frequent entry in the `choice_description` column.

In [ ]:
# Q11. Calculate the total number of items ordered by summing the `quantity` column.

In [ ]:
# Q12. Check the current data type of the `item_price` column.

In [ ]:
# Q13. Convert the `item_price` column to float by:
#      a. Removing the dollar sign using a lambda function
#      b. Applying the conversion to the column

In [ ]:
# Q14. Confirm the data type change was successful.

In [ ]:
# Q15. Calculate the total revenue by multiplying `quantity` and `item_price`, then summing the results.

In [ ]:
# Q16. Determine the number of unique orders using the `order_id` column.

In [ ]:
# Q17. Calculate the average revenue per order.

In [ ]:
# Q18. Find out how many different items are sold (unique values in `item_name`).

In [ ]:
# Q19. List the top 5 items by total quantity sold.

In [ ]:
# Q20. Count the number of unique values in the `choice_description` column.

In [ ]:
# Q21. Identify the order with the highest total bill amount.

In [ ]:
# Q22. Find all items that have inconsistent pricing (same `item_name` but different `item_price` values).

In [ ]:
# Q23. List orders where any single item was ordered in a quantity greater than 5.

In [ ]:
# Q24. Calculate the average price of an item.

In [ ]:
# Q25. List all unique item prices and show the items associated with each price.

In [ ]:
# Q26. Determine which item was ordered in the largest quantity in a single order.

In [ ]:
# Q27. Count how many orders included more than 3 items total.

In [ ]:
# Q28. Display all orders that included *Canned Soda*.

In [ ]:
# Q29. Show the total quantity sold for each item in descending order.

In [ ]:
# Q30. Identify the top 3 most frequent item combinations ordered together.